/* Materia del área Arquitectura de Computadoras. */
.rosa{
    background-color: pink;
}

/* Materias del área de Programación e Ingeniería de Software. */
.azul{
    background-color: aquamarine;
}

/* Materia del área de Matemáticas. */
.verde{
    background-color: greenyellow;
}

/* Materia de entorno social. */
.amarillo{
    background-color: yellow;
}

/* Muestra todas las horas libres */
.beige{
    background-color: beige;
}

/* Estilo para las viñetas */
.bullet {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Materia del área Arquitectura de Computadoras. */
.viñetaRosa {
    background-color: pink;
}

/* Materias del área de Programación e Ingeniería de Software. */
.viñetaAzul {
    background-color: aquamarine;
}

/* Materia del área de Matemáticas. */
.viñetaVerde {
    background-color: greenyellow;
}

/* Materia de entorno social. */
.viñetaAmarillo {
    background-color: yellow;
}

/* Muestra todas las horas libres */
.viñetaBeige {
    background-color: beige;
}